.player {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;

  .header {
    display: flex;
    position: absolute;
    width: 100%;
    z-index: 1;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    transition: transform 0.4s ease-in-out;
    transform: translateY(-100%);

    &.controlsshown,
    &:hover {
      transform: unset;
    }

    button {
      background: transparent;
      width: 3.2rem;
      height: 3.2rem;
      border: none;
      border-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:focus {
        outline: none;
      }

      &:first-of-type:hover {
        background: $primary;
        cursor: pointer;
      }

      svg {
        fill: white;
        width: 2rem;
        height: 2rem;
      }
    }
  }
}
