.search {
  padding-top: 6.2rem;

  h2 {
    padding: 1rem 0;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    margin: 0 2rem 1rem;
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
  }

  input {
    background: black;
    outline: none;
    color: white;
    font-size: 2rem;
    margin-left: 0.5rem;
    border: 1px solid transparent;
    color: $primary;

    &:focus {
      border: 1px solid white;
    }
  }
}
