.recent {
  .heading {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-bottom: 3rem;

    hr {
      transform: translateY(1.4rem);
      width: 100%;
    }

    h2 {
      position: absolute;
      font-size: 2.2rem;
      font-weight: 700;
      text-transform: uppercase;
      background: $background;
      padding: 0 1rem;
      margin: 1.4rem 0;
    }
  }
}
